@using FeroCourse.Data.Dtos
@model CourseVM

@{
    ViewData["Title"] = "Course";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Course Create</h5>
        </div>

        <div class="card-body table-border-style">

            <form asp-area="Admin" asp-controller="Course"
                  asp-action="CourseCreate" method="post" enctype="multipart/form-data">

                <div class="row mb-3">
                    <div class="col-md-12">
                        <label>Course Title</label>
                        <input type="text" class="form-control" asp-for="Title" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <label>Course Description</label>
                        <input type="text" class="form-control" asp-for="Description" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label>Instructor Name</label>
                        <input type="text" class="form-control" asp-for="InstructorName" />
                    </div>

                    <div class="col-md-6">
                        <label>Category</label>
                        @Html.DropDownListFor(
                        m => m.CategoryId,
                                                (IEnumerable<SelectListItem>)ViewBag.CategoryDropDown,
                                                "Select Category",
                                                new { @class = "form-select form-control" }
                                                )
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label>Course Price</label>
                        <input type="text" class="form-control" asp-for="Price" />
                    </div>

                    <div class="col-md-6">
                        <label>Discount Price</label>
                        <input type="text" class="form-control" asp-for="DiscountPrice" />
                    </div>

                    <div class="col-md-6 mt-3">
                        <label>Upload Image</label>
                        <input type="file" class="form-control" asp-for="Imagefile" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
